{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}

<h1 align="center">Home</h1>
<h3 align="left">Peekaboo Sunshine by Peekaboo Sunshine</h3>
<div align="center" style="width: 80%; height: 80%;">
    <img
    style="width: 100%; margin: auto; display: block;"
    class="vidyard-player-embed"
    src="https://play.vidyard.com/497k4YmCPrGc5ZXaWFtThS.jpg"
    data-uuid="497k4YmCPrGc5ZXaWFtThS"
    data-v="4"
    data-type="inline"
  />
</div>

{% endblock %}
